<p>
  <strong>Question:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @html_string.html_safe %>
</p>
<p>
  <strong>Posted by:</strong>
  <%= @question.username %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Destroy', @question, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', questions_path %>

<br/>
<br/>
<%= link_to 'Post an Answer', new_question_answer_path(@question) %>
<br/>
<h2>Answers</h2>

<ol>
  <li>
    <strong><%= @chosen_answer.title %></strong> | <strong>Posted by:</strong>
    <%= @chosen_answer.username %> | (<%= @chosen_answer.updated_at %>)
    <br/><%= @markdown.render(@chosen_answer.body).html_safe %>
    <%= form_for(@chosen_answer) do |f| %>
        <%= f.hidden_field(:chosen, :value => !@chosen_answer.chosen) %>
        <%= f.submit "Best Answer" %>
        Chosen Value: <%= @chosen_answer.chosen %>
    <% end %>
  </li>
  <br/>
  <% @answers.each do |answer| %>
  <li>
    <strong><%= answer.title %></strong> | <strong>Posted by:</strong>
    <%= answer.username %> | (<%= answer.updated_at %>)
    <br/><%= @markdown.render(answer.body).html_safe %>
    <%= form_for(answer) do |f| %><%= f.hidden_field(:chosen, :value => !answer.chosen) %><%= f.submit "Best Answer" %>
      Chosen Value: <%= answer.chosen %>
    <% end %>
    <br/>
  </li>
  <% end %>
</ol>
<br/>
<%= link_to 'Back', questions_path %>
